@import "./_headerSkewBackground.scss";
//@import "./reset.scss";

body {
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Gowun Batang", serif;

  &:not(h2, h3, h1) {
    font-weight: 600;
  }
}

header {
  & .headerContent {
    margin: -6rem auto 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // min-width: 400px;

    & img {
      //float: left;
      max-height: 300px;
      // margin-right: 0.5rem;
    }

    & .text {
      box-shadow: none;
      //background-color: #fff;
      //  box-shadow: 1px 1px 1px 3px gray;
      // width: 100%;
      // border: 1px solid;
      // text-align: left;
      // padding: 0rem 2rem;
      //min-width: 250px;
    }
  }
}

@media (min-width: 900px) {
  header {
    & .headerContent {
      // border:1px solid;
      //margin: 0rem auto 0 auto;
      width: 70%;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      & img {
        flex: 1;
        float: left;
        max-height: 350px;
        margin: 0 auto;
        // margin-right: 0.5rem;
      }

      & .text {
        flex: 1 0 auto;
        max-width: 50%;

        // width: 100%;
        // border: 1px solid;
        // text-align: left;
        // padding: 0rem 2rem;
        //min-width: 250px;
      }
    }
  }
}

@media (675px < width < 900px) {
  header {
    & .headerContent {
      //margin: 0rem auto 0 auto;
      width: 80%;
      display: block;
      max-height: 350px;
      // flex-direction: column;
      // min-width: 400px;

      & img {
        float: left;
        max-height: 300px;
        position: relative;
        // top: -20px;
        // left: -30px;
        // margin-right: 30px;
        // margin-right: 0.5rem;
      }

      & .text {
        // margin-top: -150px;
        // width: 90%;
        // border: 1px solid;
        text-align: left;
        padding: 1rem 1rem 0rem 6rem;

        // margin-top: 60px;
        //min-width: 250px;

        & .test {
          & h2 {
            text-align: center;
          }

          box-shadow: 1px 1px 6px 3px gray;
          border-radius: 1rem;
          margin-top: 60px;
          min-width: 30rem;
          //border:1px solid;
          padding: 1rem;
          // margin-left: 10rem;
        }
      }
    }
  }

  .myWorkSection h2 {
    margin-top: 5rem;
  }

}

.myWorkSection {
  & h2 {
    text-align: center;
    padding-top: 3rem;
  }

  & .workGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(1rem * 10), 1fr));
    gap: 1rem;
    padding: 2rem;



    & .square {
      //background-color: blue;
      min-width: calc(1rem * 10);
      min-height: calc(1.5rem * 10);
      box-shadow: .5px .5px 4px .5px black;

      & .projectScreenShot {
        & img {
          max-width: 100%;
        }
      }

      & .projectTitleAndLinks {
        //change the links to icon and make them linkable.
        padding: 1rem;
        padding-bottom: 0;
        display: flex;
        max-width: 100%;
        justify-content: space-between;
      }

      & .aboutTheProject {
        padding: .2rem;
      }
    }
  }
}

.footer {
  display: flex;
  gap: 1rem;
  color: #2e2c2c;
  padding: 1rem;
  background: linear-gradient(to right, rgb(139, 247, 247), rgb(144, 144, 255));

  & svg {
    transform: translateY(8px);
  }
}

img {
  max-width: 100%;
}

@media screen and (max-width: 500px){
  .footer {
    flex-direction: column;
  }
  
}